<h1>About</h1>

Bloccit is a Reddit clone by Evan Lloyd Flint<br>
Created as coursework for <a href="https://www.bloc.io">Bloc</a>


<a href="https://medium.com/@evanflint" class="btn btn-info" role="button" id="social-btn">Check me out on Medium!</a>
